<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./libs/bootstrap-4/css/bootstrap.min.css">
    <title>VirusLab</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>


<body ng-controller="main_ctrl">

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-family: 'Sunflower', sans-serif;">
        <img src="img/viruslab-logo.png" style="margin-right: 9px;
padding-bottom: 5px; height: 28px;">VirusLab</a>
</nav>
<div class="container">

    <div class="col-md-6 offset-md-3 mt-5">

        <div ng-if="!state.ready && !state.processing">


            <h1> <!--img width="70" src='./img/virus.svg' class="float-left"--> Upload your sequences</h1>
            <p></p>
            <form accept-charset="UTF-8" ng-submit="submit()">
                <hr>
                <div class="form-group mt-3">
                    <label class="mr-2"> <b>Sequences:</b></label>
                    <ul style="font-size: 0.9em">
                        <li>provide a multi-FASTA file, where headers are of the form <br> <code>"&gt;[sequence_id]"</code> (e.g., <code>&gt;MW255832.1"</code> and sequences are appended one after the other.</li>
                    </ul>

                    <input type="file" name="fasta" id="fasta" required
                           onchange="angular.element(this).scope().checkFasta()">
                </div>

                <div class="form-group mt-3">
                    <label class="mr-2"><b>Metadata:</b></label>
                    <ul style="font-size: 0.9em">
                        <li>provide a comma-separated-values file (tsv is not supported) where the first column is named "id" and contains the same various <code>[sequence_id]</code> provided in the FASTA file</li>
                        <li>date fields should be provided in the form <code>yyyy-mm-dd</code></li>
                        <li>string fields do not support comma as a separator (please use alternatives, e.g., "+", "-", "|", ";" etc.)</li>
                    </ul>

                    <input type="file" name="meta" id="meta" required>
                </div>

                <span ng-if="state.numSequences>1">Your file contains <code>{{state.numSequences}} sequences</code> and the processing could take up to
                    <code>{{ state.numSequences*MINUTES_PER_SEQ }}</code> <b>minutes</b>. <br>
                    If you provide an email address, you will be notified once the results are ready.

               </span>
                <div class="form-group" ng-if="state.numSequences>1">
                    <!--label for="exampleInputEmail1" required="required">Email address</label-->
                    <input type="email" name="email" class="form-control" ng-model="state.email"
                           id="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <span ng-if="state.numSequences!=null && state.numSequences<1" style="color:#e55555">
                    The selected file doesn't seem to contain any valid sequence.
                </span>
                <hr>
                <button type="submit" ng-disabled="!state.numSequences && state.numSequences<1" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div ng-if="!state.ready && state.processing" class="text-center">
            <img width="70" src='./img/running.gif'>
            <br>
            <h1>Please wait</h1>
            <br>
            <div class="progress">
                <div  id="progressBar" class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <br>
            <p>
                We are processing your sequences. <br>
                This process could take up to {{ maxMinutes }} minutes. <br><br>
                <span ng-if="!(state.email && state.email!='')">
                    Since you didn't provide an email address,  don't close this page until the result is ready or <b>save it in your bookmarks</b>.<br><br>

                </span>
                <span ng-if="state.email && state.email!=''">
                    If you don't want to wait, feel free to close this window; we will send an email to <a href="emailto:{{state.email}}">{{state.email}}</a> once the result is ready. <br>
                    Alternatively, you can add this page to your bookmarks and come back later. <br><br>

                </span>

            </p>

            <a class="btn btn-lg" style="background-color: #009688; color:white;"
               target="_blank"
               href="{{state.virusVizAddress}}?appName=ViruSurf-EIT&dataURL={{state.jsonAddress}}&appURL={{getCurrentLocation()}} }}">
                <img src="img/virusviz-logo-name.png" width="25px">
                Wait in VirusViz
            </a>
        </div>


        <div ng-if="state.ready" class="text-center">
            <h1>Your result is ready!</h1>
            <p>You can now visualize it on VirusViz:</p>
            <br>

            <a class="btn btn-lg" style="background-color: #009688; color:white;"
               target="_blank"
               href="{{state.virusVizAddress}}?appName=ViruSurf-EIT&dataURL={{state.jsonAddress}}&appURL={{getCurrentLocation()}} }}">
                <img src="img/virusviz-logo-name.png" width="25px">
                Open in VirusViz
            </a>
            <br><br>
            or <a ng-click="reset()" href="javascript:void(0);"> upload new seqeunces.</a>

        </div>

    </div>

</div>


<script src="./libs/angular-js/angular.min.js"></script>
<script src="./libs/angular-js/angular-route.min.js"></script>
<script src="./controllers/helper.js"></script>
<script src="./controllers/app.js"></script>

<script src="./libs/jquery/jquery-3.5.1.min.js"></script>
<script src="./libs/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src="./libs/bootbox/bootbox.min.js"></script>


</body>
</html>